.partlist{
    position: relative;
    border-bottom:1px solid #dcdcdc;
    width: 100%;
    height:40px;
}
.partlist li{
    width:100px;
    height:40px;
    float: left;
}
.partlist li span.switch{
    width: 85px;
    display: inline-block;
    height:40px;
    line-height:40px;
    margin:0 7px;
    text-align: center;
    cursor: pointer;
}
.partlist li span.switched{
    border-bottom:2px solid #03a9f4;
}
.inforbox{
    position: absolute;
    top:40px;
    left:0;
    display: none;
}
.selectinforbox{
    display: block;
}
.inforbox div table{
    width: 100%;
    text-align: center;
}
.inforbox div table thead{
    background:#fafafa;
}
.inforbox div table tr td{
    border:1px solid #dcdcdc;
    height:40px;
    cursor: pointer;
}
.pointtext,.exptext,.acttext{
    width: 100px;
    height:30px;
    margin:5px;
    border:1px solid #dcdcdc;
}
.addlevel{
    width: 100px;
    height:30px;
    background:#ff6200;
    color:#fff;
    margin-bottom:20px;
    margin-top:10px;
}
.addtypename{
    display: inline-block;
    width: 90px;
    vertical-align: middle;
    text-align: right;
    height:30px;
    line-height:30px;
}
.uploadimg{
    width: 100px;
    height:30px;
    background:#ff6200;
    color:#fff;
}
.addmodulename{
    width: 180px;
    height:30px;
    border:1px solid #dcdcdc;
}
.urlvalue{
    width: 285px;
    height:30px;
    border:1px solid #dcdcdc;
}
.delete,.cancel{
    width: 100px;
    height:30px;
    background: #ff6200;
    color:#fff;
    margin-top:30px;
}
.cancel{
    background: #fff;
    color:#666;
}
.filebox{
    display: inline-block;
    position: relative;
    width: 100px;
    height:30px;
    margin-right:60px;
    float:right;
}
.file{
    width: 100px;
    height:30px;
    position: absolute;
    left: 0;
    top:0px;
    opacity: 0;
    z-index: 9999;
    cursor: pointer;
}

/*地址*/
.addressSelect{line-height: 34px;margin: 0 0 0 5px;color: #666;width: 242px;display:inline-block;}
.addressSelect div.sele{border: 1px solid #dcdcdc;float: left;width: 106px;height: 30px;color:#b8b8b8;background: url(http://fe.ibaixiong.com/shop/image/address_arrow.png) 93px 15px no-repeat; position: relative;}
.addressSelect div.city{margin-left: 20px;}
.addressSelect div.town{margin-left: 20px;}
.addressSelect div .txt{display:block;color:#b8b8b8;font-style: normal;padding-left: 10px;cursor: pointer;width: 100px;height: 30px;}
.addressSelect span{width: 55px;display: block;float: left;}
.loc{background:#fff;display:none;width: 106px;border: 1px solid #dcdcdc;height: 249px;overflow-y:scroll;border-top:none;position: absolute;top: 30px;left: 0;z-index: 99;background: #fff;  }
.loc li{line-height: 30px;padding-left:10px;font-size: 14px;cursor: pointer;}
:root .loc{width: 126px\9\0;}
.loc li:hover{color: #333;}
span.street{
	overflow: hidden;
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.address-defed{color:#ff6200;}
.address-def{color:#00a0e9;}
/**/
.editor_name{display:inline-block;width:285px;height:30px;vertical-align: text-top;}
