.-ListMian>div>p{
  text-align: left;
}
._ling{line-height:70px;}
.margin_{height: 100%; display: block; vertical-align: middle; padding-top: 20px;}
.content .content-title div {
   text-indent:0;
}
.a_click{
	display:inline-block;
}